<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            <ion-label>Cyber</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <div class="row mt-2">
        <div class="col">
        </div>
    </div>

    <ion-content padding>
        <div class="col text-center">
            <ion-text class="centered" color="dark">
                <h3 class="text">{{'Become a driver' | translate}}</h3>

                <hr />
                <h5 class="text mb-3">{{'Please upload pictures of the following documents' | translate}}:</h5>
            </ion-text>
        </div>

        <div class="input-group">
            <div class="input-group mb-1">
                <label type="text" class="form-control">1. {{'ID card front' | translate}}</label>
                <div class="input-group-append">
                    <span>
                        <input type="file" #file1 placeholder="Choose file" (change)="upload(file1.files)"
                            style="display:none;">
                        <label>
                            <ion-icon name="add-outline" color="dark" (click)="file1.click()"></ion-icon>
                            <!-- <app-multi-file-upload></app-multi-file-upload> -->
                        </label>
                    </span>
                </div>
            </div>

            <div class="input-group mb-1">
                <label type="text" class="form-control">2. {{'ID card back' | translate}}</label>
                <div class="input-group-append">
                    <span>
                        <input type="file" #file2 placeholder="Choose file" (change)="upload(file2.files)"
                            style="display:none;">
                        <label>
                            <ion-icon name="add-outline" color="dark" (click)="file2.click()"></ion-icon>
                            <!-- <app-multi-file-upload></app-multi-file-upload> -->
                        </label>
                    </span>
                </div>
            </div>

            <div class="input-group mb-1">
                <label type="text" class="form-control">3. {{'Driver license front' | translate}}</label>
                <div class="input-group-append">
                    <span>
                        <input type="file" #file3 placeholder="Choose file" (change)="upload(file3.files)"
                            style="display:none;">
                        <label>
                            <ion-icon name="add-outline" color="dark" (click)="file3.click()"></ion-icon>
                            <!-- <app-multi-file-upload></app-multi-file-upload> -->
                        </label>
                    </span>
                </div>
            </div>

            <div class="input-group mb-1">
                <label type="text" class="form-control">4. {{'Driver license back' | translate}}</label>
                <div class="input-group-append">
                    <span>
                        <input type="file" #file4 placeholder="Choose file" (change)="upload(file4.files)"
                            style="display:none;">
                        <label>
                            <ion-icon name="add-outline" color="dark" (click)="file4.click()"></ion-icon>
                            <!-- <app-multi-file-upload></app-multi-file-upload> -->
                        </label>
                    </span>
                </div>
            </div>
        </div>




        <ion-list>
            <ion-reorder-group disabled="false">
                <ion-item *ngFor="let item of uploader.queue">
                    <ion-label>
                        {{ item?.file?.name }}


                    </ion-label>
                </ion-item>
            </ion-reorder-group>
        </ion-list>



        <div *ngIf="checker">

            <div class="col-md-4 mt-2">
                <div class="progress form-group" *ngIf="progress > 0">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width.%]="progress">
                    </div>
                </div>

                <span class="upload" *ngIf="progress > 0">
                    {{progress}}%
                </span>
                <span class="upload" *ngIf="message">
                    {{message}}
                </span>
            </div>
        </div>
        <ion-list>
            <ion-item *ngFor="let pic of pics">
                <a class="text list-group-item list-group-item-action flex-column align-items-start">
                    <p>
                        <img src="{{pic.path}}" />
                        <div class="text-center">
                            <h5 class="mb-1 fonted"></h5>
                            <button class="btn btn-danger" (click)="removePicture(pic.id)">{{'Delete' | translate}}</button>

                        </div>
                </a>

            </ion-item>
        </ion-list>


        <div class="text-center mb-3">
            <button [disabled]="this.isDisabled == false" (click)="onSubmit()" type="submit" class="btn btn-dark">{{'Submit' | translate}}</button>
        </div>
    </ion-content>

</ion-content>