ion-content.background{
    --background: url(../../assets/TaxiMi-homeback1.jpg) 0 0/100% 100% no-repeat;
}
.centered{
    text-align: center;
}

.text{  
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: cursive;
    font-size: 2.4em;
}

.subtitle{
    font-family: cursive;
}

.login{
    margin-top: 150px;
}



ion-item {
    --background: none;
    opacity:1;
    --border-width: 0;
    --inner-border-width: 0;
  }

.reg{
    margin-top: 20px;
}

.iconsText{
    color: rgb(255, 174, 0);
    font-family: cursive;
    font-size: 1.2em;
}

ion-icon {
    color: rgb(255, 174, 0);
    font-size: 350%;
}
.backIcon {
    color: rgb(255, 174, 0);
    font-size: 150%;
}

.back {
    color: rgb(255, 174, 0);
}