<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-label>Favourites</ion-label>
  </ion-title>

    <ion-buttons slot="end">
      <ion-icon id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="row mt-2">
    <div class="col">
      <div class="row">

        <div class="col-md-10">
          <div *ngFor="let favourite of favourites" class="list-group mt-2">

            <a class="text list-group-item list-group-item-action flex-column align-items-start">
              <p class="mb-1 fonted">Location: {{favourite.location}}</p>
             
              <p class="mb-1 fonted">Destination: {{favourite.destination}}</p>
              <div class="row">
                <div class="col">
                  <div class="d-flex w-100 justify-content-between">
                    <small>Trip distance: {{favourite.tripDistance}} km</small>
                  </div>
                </div>
                <div class="col-md-12">
                  <small>Total cost: {{favourite.totalPrice}}$</small>
                </div>
                <hr />
              </div>
              <!-- <ion-buttons slot="start">
                <ion-button class="fonted" (click)="acceptOrder(oldOrder)" type="submit" color="light">Accept</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="fonted" (click)="acceptOrder(oldOrder)" type="submit" color="light">Accept</ion-button>
              </ion-buttons> -->
              <ion-toolbar color="light">
                <ion-buttons slot="start">
                  <ion-button class="fonted" (click)="useThis(favourite)" type="submit" color="dark">Use this trip</ion-button>
                </ion-buttons>
            
                <ion-buttons slot="end">
                  <ion-button class="fonted" (click)="remove(favourite.id)" type="submit" color="danger">Delete</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>
