ion-content.background{
    --background: url(../../assets/wp4792780-dark-phone-wallpapers.jpg) 0 0/100% 100% no-repeat;
}

.centered{
    text-align: center;
}

.text{  
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: cursive;
    font-size: 2.4em;
}

i{
    color:rgb(255, 174, 0);
}

ion-input{
    border-radius: 10px;
    border: 3px solid rgb(255, 174, 0);
}

ion-select{
    color: rgb(56, 56, 56);
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(255, 174, 0);
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.backIcon {
    color: rgb(255, 174, 0);
    font-size: 150%;
}

.back {
    color: rgb(255, 174, 0);
}