<ion-content padding class="background">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>

        </div>
        <div class="col-9">
          <h5 (click)=goBack() class="back">Back</h5>
        </div>
      </div>
      <ion-text>

        <div class="row">
          <form [formGroup]="form" novalidate class="col">
            <div class="form-group col mt-5">
              <ion-label><i>Choose your starting point.</i></ion-label>
              <ion-input formControlName="location" type="text" class="form-control" placeholder=" From"></ion-input>
            </div>

            <div class="form-group col mt-3">
              <ion-label><i>Choose your endpoint.</i></ion-label>
              <ion-input formControlName="destination" type="text" class="form-control" placeholder=" To"></ion-input>
            </div>

            <div class="form-group col mt-3">
              <ion-label><i>Increase amount</i></ion-label>
              <ion-select formControlName="increaseAmount" placeholder="Select amount you want to increase">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>
                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>

              </ion-select>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col mt-3">
                  <ion-button [disabled]="isSubmitted == true" (click)="onSubmit()" type="submit" color="warning">Find
                  </ion-button>
                </div>

                <div class="col ml-2 mt-3">
                  <ion-button hidden (click)="onSubmit()" type="submit" color="warning">Find</ion-button>
                </div>

                <div class="col mt-3 ml-2">
                  <ion-button [disabled]="isSubmitted == false" (click)="cancelOrder()" type="submit" color="danger">
                    Cancel</ion-button>
                </div>
              </div>

            </div>

          </form>
          <div *ngIf="isSubmitted == true" class="blink_me col-md-12 mt-3 text-center">
            <ion-button type="submit" color="warning">Looking for a driver</ion-button>
          </div>

          <div class="col-md-12 mt-5">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas"
                  src="https://maps.google.com/maps?q=Sofia&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0"
                  scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
                <br>
                <style>
                  .mapouter {
                    margin-left: 9%;
                    position: relative;
                    text-align: right;
                    height: 80%;
                    width: 90%;
                  }
                </style>
                <style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 80%;
                    width: 90%;
                  }
                </style>
              </div>
            </div>
          </div>
          
        </div>

      </ion-text>
    </div>
  </div>


</ion-content>