ion-content.background{
    --background: url(../../assets/wp4792780-dark-phone-wallpapers.jpg) 0 0/100% 100% no-repeat;
}

.centered{
    text-align: center;
}

.text{  
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: cursive;
    font-size: 2.4em;
}

i{
    color:rgb(255, 174, 0);
}

ion-input{
    border-radius: 10px;
    border: 3px solid rgb(255, 174, 0);
}

.my-custom-class {
    --background: #e5e5e5;
  }

ion-select{
    color: rgb(56, 56, 56);
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(255, 174, 0);
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.backIcon {
    color: rgb(255, 174, 0);
    font-size: 150%;
}

.back {
    color: rgb(255, 174, 0);
}


//CHAT 



.chat{
    background-color: wheat;
}

.msg-box {
    width: 100%;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 14px;

    overflow: auto;

    ul {
        list-style: none;
        hr{
            background:rgb(255, 174, 0);
            width: 100% !important;
        }
        .ex-msg {
            margin-bottom: 10px;
            text-align: left;
            
        }

        .in-msg {
            margin-bottom: 10px;
            text-align: right;
        }
    }
    
}