<ion-content padding>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>


            <ion-title>
                <ion-label>TaxiMi</ion-label>
            </ion-title>

            <ion-buttons slot="end">

                <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div class="row mt-2">
        <div class="col">
            <ion-text>
                <div class="row">
                    <form [formGroup]="form" novalidate class="col">
                        <div *ngIf="isCompleted == false" class="form-group col mt-2">
                            <p (click)="locationMap()" *ngIf="this.orderService.chosenLocation != null"><ion-icon class="mr-2" name="analytics-outline"></ion-icon>{{this.orderService.chosenLocation}}</p>
                            <p (click)="locationMap()" *ngIf="this.orderService.chosenLocation == null"><ion-icon class="mr-2" name="analytics-outline"></ion-icon>{{'Click here to choose starting point'| translate}}.</p>
                            <hr />
                        </div>
                        <div *ngIf="isCompleted == false" class="form-group col mt-3">
                            <p (click)="destinationMap()" *ngIf="this.orderService.chosenDestination != null"><ion-icon class="mr-2" name="arrow-forward-outline"></ion-icon>{{this.orderService.chosenDestination}}</p>
                            <p (click)="destinationMap()" *ngIf="this.orderService.chosenDestination == null"><ion-icon class="mr-2" name="arrow-forward-outline"></ion-icon>{{'Click here to choose destination' |translate}}.</p>
                        </div>

                        <div *ngIf="isCompleted == true" class="form-group col mt-2">
                            <p><ion-icon class="mr-2" name="analytics-outline"></ion-icon>{{order.location}}</p>
                           <hr />
                           <p><ion-icon class="mr-2" name="arrow-forward-outline"></ion-icon>{{order.destination}}</p>
                        </div>

                        <div *ngIf="isCompleted == false" class="col-md-12 text-center">
                                <ion-select  (ionChange)="onSelectChange($event)" [placeholder]='"Additional options (optional)" | translate' multiple="true">
                                    <ion-select-option value="With pets">{{'With pets' | translate}} + 2.20$</ion-select-option>
                                    <ion-select-option value="With stroller">{{'With stroller' | translate}}</ion-select-option>
                                    <ion-select-option value="Special needs">{{'Special needs' | translate}}</ion-select-option>
                                </ion-select>
                        </div>
                        <hr />
                       
                        <div *ngIf="isCompleted == false" class="col-md-12 text-center">
                            <ion-select (ionChange)="onSelectCar($event)" [placeholder]='"Car type (optional)" | translate'>
                                <ion-select-option value="Normal">{{'Normal' | translate}}</ion-select-option>
                                <ion-select-option value="Comfort">{{'Comfort' | translate}} + 1$</ion-select-option>
                            </ion-select>
                    </div>




                        <div *ngIf="orderStatus == 'Waiting'" class="form-group col mt-3">
                            <ion-label><i>{{'Increase amount' | translate}}</i></ion-label>
                            <ion-select ngModel (ngModelChange)="selector($event)" formControlName="increasePrice"
                                [placeholder]='"Select amount you want to increase" | translate'>
                                <ion-select-option value="1">1</ion-select-option>
                                <ion-select-option value="2">2</ion-select-option>
                                <ion-select-option value="3">3</ion-select-option>
                                <ion-select-option value="4">4</ion-select-option>
                                <ion-select-option value="5">5</ion-select-option>
                                <ion-select-option value="6">6</ion-select-option>
                                <ion-select-option value="7">7</ion-select-option>
                                <ion-select-option value="8">8</ion-select-option>
                                <ion-select-option value="9">9</ion-select-option>
                                <ion-select-option value="10">10</ion-select-option>

                            </ion-select>

                        </div>
                        
                        <div class="row text-center">
                            <div class="col-md-12">

                                <button *ngIf="isCompleted == false" type="button" (click)="onSubmit()" class="mt-3 btn btn-warning fonted">
                                    {{'Make a order'| translate}}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div *ngIf="isCompleted == true" class="blink_me col-md-12 mt-3 text-center fonted">
                        <button class="btn btn-warning fonted" >{{'Looking for a driver'| translate}}</button>
                    </div>
                </div>
            </ion-text>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="isCompleted == true" class="ion-no-border">
    <ion-toolbar>
      <!-- <ion-title>Choosen location</ion-title> -->
   <div class="row">
        <div class="col">
                <div class="d-flex w-100 justify-content-between">
                    <button *ngIf="isCompleted == true" class="ml-3 btn btn-info fonted" (click)="cancelOrder()">{{'Cost'|
                        translate}} : {{orderTotalPrice}}$</button>

                    <button *ngIf="isCompleted == true" class="mr-3 btn btn-danger fonted" (click)="cancelOrder()">{{'Cancel'| translate}}</button>
                </div>
        </div>
        
    </div>
    
  
    </ion-toolbar>
  </ion-footer>