<ion-content padding class="background"
  *ngIf="orderStatus == 'Waiting' || orderStatus == 'Completed' || orderStatus == null">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>

        </div>
        <div class="col-9">
          <h5 (click)=logout() class="back">Logout</h5>
        </div>
      </div>
      <ion-text>
        <div class="row">
          <form [formGroup]="form" novalidate class="col">
            <div class="form-group col mt-5">
              <ion-label><i>Choose your starting point.</i></ion-label>
              <ion-input formControlName="location" type="text" class="form-control" placeholder=" From"
                [ngClass]="{ 'is-invalid': isSubmitted && f.location.errors }"></ion-input>
              <div *ngIf="isSubmitted && f.location.errors" class="invalid-feedback">
                <div *ngIf="f.location.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-3">
              <ion-label><i>Choose your endpoint.</i></ion-label>
              <ion-input formControlName="destination" type="text" class="form-control" placeholder=" To"
                [ngClass]="{ 'is-invalid': isSubmitted && f.destination.errors }"></ion-input>
              <div *ngIf="isSubmitted && f.destination.errors" class="invalid-feedback">
                <div *ngIf="f.destination.errors.required">The field is required!</div>
              </div>
            </div>

            <div *ngIf="orderStatus == 'Waiting'" class="form-group col mt-3">
              <ion-label><i>Increase amount</i></ion-label>
              <ion-select ngModel (ngModelChange)="selector($event)" formControlName="increasePrice"
                placeholder="Select amount you want to increase">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>
                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>

              </ion-select>
            </div>

            <!-- <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-1 mt-3">
                    <ion-button [disabled]="isCompleted == true"  (click)="onSubmit()" color="warning">Find</ion-button>
                    
                    
                  </div>
  
                  <div class="col-1  mt-3">
                    <ion-button color="warning"> Cost: {{orderTotalPrice}}$</ion-button>
                  </div>
  
                  <div class="col-1 mt-3 ">
                    <ion-button [disabled]="isCompleted == false" (click)="cancelOrder()" color="danger">Cancel</ion-button>
                  </div>
                </div>
                
              </div>

            </div> -->

            <!-- <ion-row>
              <ion-col size="3" size-lg >
                <ion-button [disabled]="isCompleted == true"  (click)="onSubmit()" color="warning">Find</ion-button>
              </ion-col>
              <ion-col size="3" size-lg>
                <ion-button color="warning"> Cost: {{orderTotalPrice}}$</ion-button>
              </ion-col>
            </ion-row> -->

            <ion-row>
              <ion-col class="ion-align-self-start" offset="0.2">
                <ion-button [disabled]="isCompleted == true"  (click)="onSubmit()" color="warning">Find</ion-button>
              </ion-col>
              <ion-col class="ion-align-self-center" pull="0.5">
                <ion-button color="warning"> Cost: {{orderTotalPrice}}$</ion-button>
              </ion-col>
              <ion-col class="ion-align-self-end">
                <ion-button [disabled]="isCompleted == false" (click)="cancelOrder()" color="danger">Cancel</ion-button>
              </ion-col>
            </ion-row>

          </form>
          <div *ngIf="isCompleted == true" class="blink_me col-md-12 mt-3 text-center">
            <ion-button type="submit" color="warning">Looking for a driver</ion-button>
          </div>



        </div>

      </ion-text>
    </div>
  </div>


</ion-content>



<ion-content padding class="background" *ngIf="orderStatus == 'Accepted' && order != null">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="col-9">
          <h5 (click)=logout() class="back">Logout</h5>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <ion-text class="centered" color="warning">
            <h2 class="text">Processing</h2>
            <hr>
            <h5>Your order is accepted</h5>
          </ion-text>

          <!-- <div class="col-md-12 mt-5">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas"
                  src="https://maps.google.com/maps?q=Sofia&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0"
                  scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
                <br>
                <style>
                  .mapouter {
                    margin-left: 9%;
                    position: relative;
                    text-align: right;
                    height: 80%;
                    width: 90%;
                  }
                </style>
                <style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 80%;
                    width: 90%;
                  }
                </style>
              </div>
            </div>
          </div> -->

          <div class="row text-center">
            <div class="col text-center">
              <div class="d-flex w-100 justify-content-between">
                <ion-text class="centered" color="warning">
                  <h4 class="text">Driver </h4>

                  <h3 class="text">{{firstName}}</h3>
                  <h3 class="text">{{lastName}}</h3>
                  <h3 class="text">With {{carModel}}, color {{carColor}}</h3>
                  <h2 class="text">will arrive in 10 minutes.</h2>
                  <hr>

                  <h3 class="text">Location: {{order.location}}</h3>
                  <h3 class="text">Destination: {{order.destination}}</h3>
                  <hr>
                  <h2 class="text">Cost of the trip: {{order.totalPrice}}$</h2>

                </ion-text>


                <!-- <div class="ud-header">
                  <h2 class="text-center">Public Chat</h2>
                </div>
                <div class="ud-body">
                  <div class="msg-box">
                    <ul>
                      <li *ngFor="let mObj of msgInboxArray"
                        [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">{{mObj.user}} :<br /><span
                          class="msg-italic-style">{{mObj.text}}</span></li>
                    </ul>
                  </div>
                  <div class="ud-flex-row">
                    <input type="text" placeholder="Type message here" class="msg-input" [(ngModel)]="msgDto.text" />
                    <button class="send-btn" (click)="send()"><i class="fa fa-paper-plane"></i></button>
                  </div>
                  <input type="text" placeholder="Your name" class="name-box" [(ngModel)]="msgDto.user" />
                </div> -->

                
              </div>
            </div>
          </div>

          <div class="row chat">
            
            <div class="col">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Chat</ion-card-subtitle>
                </ion-card-header>
              </ion-card>

              <ion-card>
                  
                  <div class="msg-box">
                    <ul *ngFor="let mObj of msgInboxArray">
                      <li [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">
                        {{mObj.user}}:  <br />
                        {{mObj.text}}
                        <hr />
                    </li>
                      
                    </ul>
                  </div>
              </ion-card>

              <ion-card>
                <ion-item>
                  <ion-textarea [(ngModel)]="msgDto.text" placeholder="Type your message...">

                  </ion-textarea>
                  <button class="send-btn" (click)="send()">
                    <ion-icon name="pin"></ion-icon>
                  </button>
                </ion-item>
              </ion-card>
            </div>
            
          </div>
        </div>
      </div>


    </div>
  </div>



</ion-content>