<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="isDrivingNow == false">
        <ion-label>Orders</ion-label>
    </ion-title>

    <ion-title *ngIf="isDrivingNow == true">
      <ion-label>Accepted order</ion-label>
  </ion-title>

    <ion-buttons slot="end">
      <ion-icon id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background" *ngIf="isDrivingNow == false">
  <div class="row mt-2">
    <div class="col">
      <div class="row">
        <div class="col-md-12 text-center">
          <ion-text class="centered" color="light">
            <h2 class="fonted">Driving</h2>
            <hr>
          </ion-text>

          <div *ngIf="this.orders.length == 0">
            <ion-text class="centered" color="light">
              <h2 class="text">We are sorry, currently there are no orders!</h2>
            </ion-text>
          </div>
        </div>

       

        <div class="col-md-10">
          <div *ngFor="let oldOrder of orders" class="list-group mt-2">

            <a class="text list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fonted">Order</h5>
                <small>{{oldOrder.createdOn | date:'MM/dd/yyyy h:mm'}}</small>
              </div>
              <p class="mb-1 fonted">Location: {{oldOrder.location}}</p>
              <hr />
              <p class="mb-1 fonted">Destination: {{oldOrder.destination}}</p>
              <div class="row">
                <div class="col">
                    <small>Additional options:</small>
                  <ul>
                    <li *ngIf="oldOrder.withPets == true">With pet</li>
                    <li *ngIf="oldOrder.withStroller == true">With stroller</li>
                    <li *ngIf="oldOrder.special == true">Special needs</li>
                  </ul>

                
                  <div class="d-flex w-100 justify-content-between">
                    <small>Trip distance: {{oldOrder.tripDistance}} km</small>
                    <ion-button class="fonted" (click)="acceptOrder(oldOrder)" type="submit" color="light">Accept</ion-button>
                  </div>
                </div>
                <div class="col-md-12">
                  <small>Total cost: {{oldOrder.totalPrice}}$</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>


<ion-content padding class="noScroll" *ngIf="isDrivingNow == true"> 
  <div #map id="map"></div>
</ion-content>


<ion-footer class="ion-no-border page-wrap" *ngIf="isDrivingNow == true">
  <ion-toolbar class="text-center">
    <ion-text class="textTravel">
      <ion-title>Pick up address <ion-label>(..km coming soon)</ion-label></ion-title>
      <ion-label >{{this.location}}</ion-label>
    </ion-text>
  </ion-toolbar>
</ion-footer>


<ion-footer class="ion-no-border" *ngIf="isDrivingNow == true">
  <ion-toolbar class="text-center">
    <ion-text class="textTravel">
      <ion-button  (click)="navigateToUserAndCalculateDistance()" type="submit"
      [disabled]="tripStatus=='Started'" color="primary">Navigate to user</ion-button>
          <ion-button (click)="navigateToPointAndCalculateDistance()" type="submit"
          color="primary" [disabled]="tripStatus=='!Processing'">Start trip</ion-button>
          <ion-title>Drop off address<ion-label>({{tripDistance}}km total.)</ion-label></ion-title>
          <ion-label >{{this.destination}}</ion-label>
    </ion-text>
  </ion-toolbar>
</ion-footer>

<ion-footer class="ion-no-border site-footer"  *ngIf="isDrivingNow == true">
  <ion-toolbar class="text-center">
    <ion-button [disabled]="tripStatus=='Processing'" (click)="finishTrip()" type="submit" color="light">
      Finish trip</ion-button>
      <ion-button (click)="chat()" type="submit" (click)="clearMessages()" color="light">
        Chat</ion-button>
        <br />
        <ion-label class="blink_me" *ngIf="messages.length != 0  && chatStyle == 'none'">You have new message.</ion-label>
  </ion-toolbar>
  
  <div id="chat" style="display: none;" class="row chat">
            
    <div class="col">
      <ion-card>
          
          <div class="msg-box">
            <ul *ngIf="this.msgInboxArray.length == 0" class="text-center mr-5">
              <li>No messages for now</li>
            </ul>
            <ul *ngFor="let mObj of msgInboxArray">
              <li [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">
                {{mObj.user}}:  
                {{mObj.text}}
            </li>
              
            </ul>
          </div>
      </ion-card>

      <ion-card class="type">
        <ion-item>
            <ion-input [(ngModel)]="msgDto.text" placeholder="Type your message...">
    
          </ion-input>
            <ion-icon (click)="send()" name="send-outline"></ion-icon>
       
        </ion-item>
      </ion-card>
    </div>
    
  </div>
</ion-footer>