<ion-content padding class="background" *ngIf="isDrivingNow == false">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="col-9">
          <h5 (click)=goBack() class="back">Back</h5>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 text-center">
          <ion-text class="centered" color="warning">
            <h2 class="text">Driving</h2>
            <hr>
          </ion-text>

          <div *ngIf="this.orders.length == 0">
            <ion-text class="centered" color="warning">
              <h2 class="text">We are sorry, currently there are no orders!</h2>
            </ion-text>
          </div>
        </div>

        <div class="col-md-10">
          <div *ngFor="let oldOrder of orders" class="list-group mt-2">

            <a class="text list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Order</h5>
                <small>{{oldOrder.createdOn | date:'MM/dd/yyyy h:mm'}}</small>
              </div>
              <p class="mb-1">Location: {{oldOrder.location}}</p>
              <p class="mb-1">Destination: {{oldOrder.destination}}</p>

              <div class="row">
                <div class="col">
                  <div class="d-flex w-100 justify-content-between">
                    <small>Distance: 25 km (coming soon...)</small>
                    <ion-button (click)="acceptOrder(oldOrder)" type="submit" color="warning">Accept</ion-button>
                  </div>
                </div>
                <div class="col-md-12">
                  <small>Total cost: {{oldOrder.totalPrice}}$</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>


<ion-content padding class="background" *ngIf="isDrivingNow == true">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="col-9">
          <h5 (click)=goBack() class="back">Back</h5>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <ion-text class="centered" color="warning">
            <h2 class="text">Driving</h2>
            <hr>
            <h5>Accepted order</h5>
          </ion-text>

          <div class="row">
            <div class="col">
              <div class="d-flex w-100 justify-content-between">
                <ion-text class="centered" color="warning">
                  <h2 class="text">Location: {{this.location}}</h2>
                  <h2 class="text">Destination: {{this.destination}}</h2>
                  <h3 class="text">Total price: {{this.totalPrice}}$</h3>
                  <div class="row">
                    <div class="col">
                      <div class="d-flex w-100 justify-content-between">
                        <ion-button [disabled]="tripStatus=='Started'" (click)="startTrip()" type="submit"
                          color="success">Go!</ion-button>
                      </div>
                      <div class="d-flex w-100 justify-content-between">
                        <ion-button [disabled]="tripStatus=='Started'" (click)="cancelTrip()" type="submit"
                          color="danger">Cancel</ion-button>
                      </div>
                      <div class="d-flex w-100 justify-content-between">
                        <ion-button [disabled]="tripStatus=='Started'" (click)="reportProblem()" type="submit"
                          color="danger">Report</ion-button>
                      </div>
                    </div>
                  </div>
                </ion-text>


                <ion-button [disabled]="tripStatus=='Processing'" (click)="finishTrip()" type="submit" color="warning">
                  Finish</ion-button>
              </div>
            </div>
          </div>

         

          <div class="row chat">
            
            <div class="col">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Chat</ion-card-subtitle>
                </ion-card-header>
              </ion-card>

              <ion-card>
                  
                  <div class="msg-box">
                    <ul *ngFor="let mObj of msgInboxArray">
                      <li [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">
                        {{mObj.user}}:  <br />
                        {{mObj.text}}
                        <hr />
                    </li>
                      
                    </ul>
                  </div>
              </ion-card>

              <ion-card>
                <ion-item>
                  <ion-textarea [(ngModel)]="msgDto.text" placeholder="Type your message...">

                  </ion-textarea>
                  <button class="send-btn" (click)="send()">
                    <ion-icon name="pin"></ion-icon>
                  </button>
                </ion-item>
              </ion-card>
            </div>
            
          </div>

        </div>
      </div>


    </div>
  </div>

</ion-content>