<ion-content padding class="background">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="col-9">
          <h5 (click)=goBack() class="back">Back</h5>
        </div>
      </div>

      <div *ngIf="verifiedAccount == false" class="row">
        <div class="col text-center">
          <ion-text class="centered" color="warning">
            <h2 class="text">Become a driver</h2>
            <hr>
            <h5>Please upload your documents, so we can verify your account</h5>
          </ion-text>

          <form [formGroup]="form"  novalidate class="col-md-6">
            <div class="form-group col mt-5">
              <ion-button color="warning" expand="block" (click)="uploadLicense()">
                <span class="ion-text-left">Upload driving license</span></ion-button>
            </div>

            <div class="form-group col mt-5">
              <ion-button color="warning" expand="block" (click)="uploadCarTicket()">
                <span class="ion-text-left">Upload car ticket</span></ion-button>
            </div>

            <div class="form-group col mt-5">
              <ion-button color="warning" expand="block" (click)="uploadCarPic()">
                <span class="ion-text-left">Upload car picture</span></ion-button>
            </div>
            

            <div class="col-md-12 mt-3">
              <ion-button (click)="onSubmit()" type="submit" color="warning">Submit</ion-button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="verifiedAccount == true" class="row">
        <div class="col-md-12 text-center">
          <ion-text class="centered" color="warning">
            <h2 class="text">Driving</h2>
            <hr>
          </ion-text>
        </div>
        
        <div class="col-md-10">
          

            <!-- <div *ngFor="let order of signalOrder" class="list-group mt-2">
              <a class="text list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Order</h5>
                  <small>{{order.createdOn}}</small>
                </div>
                <p class="mb-1">Location: {{order.location}}</p>
                <p class="mb-1">Destination: {{order.destination}}</p>
                
                <div class="row">
                  <div class="col">
                    <div class="d-flex w-100 justify-content-between">
                      <small>Distance: 25 km (coming soon...)</small>
                      <ion-button (click)="acceptOrder(order)" type="submit" color="warning">Accept</ion-button>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <small>Total cost: {{order.totalPrice}}$</small>
                  </div>
                </div>
              </a>
            </div> -->

            <div *ngFor="let oldOrder of orders" class="list-group mt-2">
              <a class="text list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Order</h5>
                  <small>{{oldOrder.createdOn}}</small>
                </div>
                <p class="mb-1">Location: {{oldOrder.location}}</p>
                <p class="mb-1">Destination: {{oldOrder.destination}}</p>
                
                <div class="row">
                  <div class="col">
                    <div class="d-flex w-100 justify-content-between">
                      <small>Distance: 25 km (coming soon...)</small>
                      <ion-button (click)="acceptOrder(oldOrder)" type="submit" color="warning">Accept</ion-button>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <small>Total cost: {{oldOrder.totalPrice}}$</small>
                  </div>
                </div>
              </a>
            </div>

            
            <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
          </div>
      </div>
    </div>
  </div>


</ion-content>


