ion-content.background{
    --background: url(../../assets/wp4792780-dark-phone-wallpapers.jpg) 0 0/100% 100% no-repeat;
}

.centered{
    text-align: center;
}

.text{  
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: cursive;
}

hr{
    background:rgb(255, 174, 0);
    width: 70% !important;
}


.backIcon {
    color: rgb(255, 174, 0);
    font-size: 150%;
}

.back {
    color: rgb(255, 174, 0);
}

//chat

.chat{
    background-color: wheat;
}

.msg-box {
    width: 100%;
    height: calc(100% - 140px); 
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 14px;

    overflow: auto;

    ul {
        list-style: none;
        hr{
            background:rgb(255, 174, 0);
            width: 100% !important;
        }
        .ex-msg {
            margin-bottom: 10px;
            text-align: left;
            
        }

        .in-msg {
            margin-bottom: 10px;
            text-align: right;
        }
    }
    
}

