<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-label>Cyber</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <div class="row mt-2">
    <div class="col">

      <div class="row">
        <div class="col text-center">
          <ion-text class="centered" color="dark">
            <h3 class="text">{{'Car information' | translate}}</h3>

            <hr />
            
        </ion-text>
          <form [formGroup]="form" novalidate class="col-md-6 mt-1">

            <div class="form-group col text-center">
              <ion-input formControlName="model" type="text" class="form-control" [placeholder]='"Model" | translate'
                [ngClass]="{ 'is-invalid': submitted && f.model.errors }">
              </ion-input>
              <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
                <div *ngIf="f.model.errors.required">{{'The field is required' | translate}}!</div>
              </div>
            </div>

            <div class="form-group col text-center">
              <select formControlName="type" class="form-control" id="exampleFormControlSelect1">
                <option value="" disabled selected hidden>{{'Click to choose car type' | translate}}</option>
                <option value="1">{{'Normal' | translate}}</option>
                <option value="2">{{'Comfort' | translate}}</option>
              </select>
            </div>

            <div class="form-group col text-center">
              <ion-input formControlName="color" type="text" class="form-control" [placeholder]='"Color" | translate'
                [ngClass]="{ 'is-invalid': submitted && f.color.errors }">
              </ion-input>
              <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                <div *ngIf="f.color.errors.required">{{'The field is required' | translate}}!</div>
              </div>
            </div>

            <div class="form-group col text-center">
              <ion-input formControlName="capacity" type="number" class="form-control" [placeholder]='"Capacity" | translate'
                [ngClass]="{ 'is-invalid': submitted && f.capacity.errors }">
              </ion-input>
              <div *ngIf="submitted && f.capacity.errors" class="invalid-feedback">
                <div *ngIf="f.capacity.errors.required">{{'The field is required' | translate}}!</div>
              </div>
            </div>

            <div class="form-group col text-center">
              <ion-input formControlName="registrationNumber" type="text" class="form-control"
              [placeholder]='"Registration Number" | translate'
                [ngClass]="{ 'is-invalid': submitted && f.registrationNumber.errors }">
              </ion-input>
              <div *ngIf="submitted && f.registrationNumber.errors" class="invalid-feedback">
                <div *ngIf="f.registrationNumber.errors.required">{{'The field is required' | translate}}!</div>
              </div>
            </div>

            <h5 class="text mb-3">{{'Please upload pictures of the following documents' | translate}}:</h5>
              <div class="input-group text-left">
                <div class="input-group mb-1">
                  <label type="text" class="form-control">1. {{'Front car picture' | translate}}</label>
                  <div class="input-group-append">
                    <span>
                      <input type="file" #file1 placeholder="Choose file" (change)="upload(file1.files)"
                        style="display:none;">
                      <label>
                        <ion-icon name="add-outline" color="dark" (click)="file1.click()"></ion-icon>
                        <!-- <app-multi-file-upload></app-multi-file-upload> -->
                      </label>
                    </span>
                  </div>
                </div>
            
                <div class="input-group mb-1">
                  <label type="text" class="form-control">2. {{'Rear car picture' | translate}}</label>
                  <div class="input-group-append">
                    <span>
                      <input type="file" #file2 placeholder="Choose file" (change)="upload(file2.files)"
                        style="display:none;">
                      <label>
                        <ion-icon name="add-outline" color="dark" (click)="file2.click()"></ion-icon>
                        <!-- <app-multi-file-upload></app-multi-file-upload> -->
                      </label>
                    </span>
                  </div>
                </div>
            
                <div class="input-group mb-1">
                  <label type="text" class="form-control">3. {{'Car insurance picture' | translate}}</label>
                  <div class="input-group-append">
                    <span>
                      <input type="file" #file3 placeholder="Choose file" (change)="upload(file3.files)"
                        style="display:none;">
                      <label>
                        <ion-icon name="add-outline" color="dark" (click)="file3.click()"></ion-icon>
                        <!-- <app-multi-file-upload></app-multi-file-upload> -->
                      </label>
                    </span>
                  </div>
                </div>
            
                <div class="input-group mb-1">
                  <label type="text" class="form-control">4. {{'Technical review picture' | translate}}</label>
                  <div class="input-group-append">
                    <span>
                      <input type="file" #file4 placeholder="Choose file" (change)="upload(file4.files)"
                        style="display:none;">
                      <label>
                        <ion-icon name="add-outline" color="dark" (click)="file4.click()"></ion-icon>
                        <!-- <app-multi-file-upload></app-multi-file-upload> -->
                      </label>
                    </span>
                  </div>
                </div>
              </div>
            
              <ion-list>
                <ion-item *ngFor="let pic of pics">
                    <a class="text list-group-item list-group-item-action flex-column align-items-start">
                        <p>
                            <img src="{{pic.path}}" />
                            <div class="text-center">
                                <h5 class="mb-1 fonted"></h5>
                                <button class="btn btn-danger" (click)="removePicture(pic.id)"> {{'Delete' | translate}}</button>
    
                            </div>
                    </a>
    
                </ion-item>
            </ion-list>

            <div class="col-md-12 mt-3">
              <button type="submit" (click)="onSubmit()" class="btn btn-info">{{'Submit' | translate}}</button>
            </div>

          </form>

          
        </div>
      
      </div>

    </div>
  </div>
  
</ion-content>