<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">

                <h2>Driver data:</h2>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            First Name
                                        </th>
                                        <th>
                                            Last Name
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{user.firstName}}
                                        </td>
                                        <td>
                                            {{user.lastName}}
                                        </td>
                                        <td>
                                            {{user.phone}}
                                        </td>
                                        <td>
                                            {{user.email}}
                                        </td>
                                        <td>
                                            <button class="btn" (click)=confirmDriver(driver.id)>Confirm</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div *ngFor="let image of images | slice:0:4" class="col-md-2 mb-5">
                        <img src={{image.path}} alt="alt" style="width:100%" height="100%">
                    </div>
                </div>

                <h2 *ngIf="this.carImages.length > 0">Car data:</h2>
                <div *ngIf="this.carImages.length > 0" class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Model
                                        </th>
                                        <th>
                                            Color
                                        </th>
                                        <th>
                                            Capacity
                                        </th>
                                        <th>
                                            License plate
                                        </th>
                                        <th>
                                            Car type
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{cars[0].model}}
                                        </td>
                                        <td>
                                            {{cars[0].color}}
                                        </td>
                                        <td>
                                            {{cars[0].capacity}}
                                        </td>
                                        <td>
                                            {{cars[0].registrationNumber}}
                                        </td>
                                        <td *ngIf="cars[0].typeId == 1">
                                            Normal
                                        </td>
                                        <td *ngIf="cars[0].typeId == 2">
                                            Comfort
                                        </td>
                                        <td>
                                            <button class="btn" (click)=confirm(cars[0].id)>Confirm</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div *ngFor="let image of carImages | slice:0:4" class="col-md-2 mb-5">
                        <img src={{image.path}} alt="alt" style="width:100%" height="100%">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>