<ion-content padding class="background" >
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="col-9">
          <h5 (click)=goBack() class="back">Back</h5>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <ion-text class="centered" color="warning">
            <h2 class="text">Driving</h2>
            <hr>
            <h5>Accepted order</h5>
          </ion-text>

          <div class="row">
            <div class="col">
              <div class="d-flex w-100 justify-content-between">
                <ion-text class="centered" color="warning">
                  <small class="text">Order ID: {{orderId}}</small>
                <small class="text">Driver ID: {{driverId}}</small>
                </ion-text>
                

                <ion-button (click)="finishTrip()" type="submit" color="warning">Finish</ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>

     
    </div>
  </div>


</ion-content>