<ion-split-pane contentId="content">
  <ion-menu>

    <ion-header>
      <ion-toolbar>
        <ion-title class="my-label">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <!-- <ion-item [routerLink]="p.url" routerDirection="root" [class.active.item]="selectedPage">
      <ion-label> {{p.title}} </ion-label>
    </ion-item> -->
          <ion-item *ngIf="!isLoggedIn" routerLink="/menu/home" [class.active.item]="selectedPage">
            <ion-label class="my-label" color="light"> Sign up </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn" routerLink="/menu/travelling" [class.active.item]="selectedPage">
            <ion-label class="my-label" color="light"> Travel </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && isVerified && documentConfirmed == true" routerLink="/menu/driver-profile"
            [class.active.item]="selectedPath">
            <ion-label class="my-label" color="light"> Profile </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && isVerified && documentConfirmed == true" routerLink="/menu/payments"
            [class.active.item]="selectedPath">
            <ion-label class="my-label" color="light"> Payments </ion-label>
          </ion-item>


          <ion-item *ngIf="isLoggedIn && isVerified && documentConfirmed == true && driverCars.length >= 1"
            routerLink="/menu/driving" [class.active.item]="selectedPath">
            <ion-label class="my-label" color="light"> Drive </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && isVerified == false && documentConfirmed == false"
            routerLink="/menu/become-driver" [class.active.item]="selectedPath">
            <ion-label class="my-label" color="light"> Drive </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && isVerified == true && driverCars.length == 0 && documentConfirmed == false"
            routerLink="/menu/car-register" [class.active.item]="selectedPage">
            <ion-label class="my-label" color="light"> Drive </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn" routerLink="/menu/favourite-orders" [class.active.item]="selectedPage">
            <ion-label class="my-label" color="light"> Favourites </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn" routerLink="/menu/report" [class.active.item]="selectedPage">
            <ion-label class="my-label" color="light"> Report </ion-label>
          </ion-item>

        </ion-menu-toggle>

        <ion-item *ngIf="isLoggedIn" toppable (click)=logout() routerDirection="root">
          <ion-icon color="light" name="log-out-outline" slot="start"></ion-icon>
          <ion-label class="my-label" color="light"> Logout </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>