<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>
              Name
            </th>
            <th>
              Phone
            </th>
            <th>
              Email
            </th>
            <th>
              Driving license
            </th>
            <th >
              Car tiket
            </th>
            <th>
              Car picture
            </th>
            <th>
              Validation
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userStatus" >
            <td>
              {{user.firstName}}  {{user.lastName}}
            </td>
            <td>
              {{user.phone}}
            </td>
            <td class="text-right">
              {{user.userName}}
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
          </tr>
          
        </tbody>
    </table>
  </div>
  </div>
</div>
