<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>
              Name
            </th>
            <th>
              Country
            </th>
            <th>
              City
            </th>
            <th>
              Profit
            </th>
            <th>
              Driving license
            </th>
            <th >
              Car tiket
            </th>
            <th>
              Car picture
            </th>
            <th>
              Validation
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Minerva Hooper
            </td>
            <td>
              Curaçao
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td class="text-right">
              $23,789
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
          </tr>
          <tr>
            <td>
              Minerva Hooper
            </td>
            <td>
              Curaçao
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td class="text-right">
              $23,789
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
            <td>
              Sinaai-Waas
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  </div>
</div>
