<h2>Users:</h2>
<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>
              Name
            </th>
            <th>
              Phone
            </th>
            <th>
              Email
            </th>
            <th>
              Driver settings
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userStatus" >
            <td>
              {{user.firstName}}  {{user.lastName}}
            </td>
            <td>
              {{user.phone}}
            </td>
            <td class="text-right">
              {{user.userName}}
            </td>  
            <td class="text-right">
              {{user.isDriver}}
            </td>

            <td class="text-right">
              <button class="btn">Some action</button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  </div>
</div>

<h2>Driver for confirmation:</h2>
<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>
              ID
            </th>
            <th>
              Licanse
            </th>
            <th>
              IDCard
            </th>
            <th>
              Commision
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let driver of driverData" >
            <td>
              {{driver.id}}
            </td>
            <td>
              {{driver.driverLicanse}}
            </td>
            <td class="text-right">
              {{driver.idCardNumber}}
            </td>  
            <td class="text-right">
              {{driver.comission}}
            </td>

            <td class="text-right">
              <button class="btn" (click)=confirmDriver(driver.id)>Confirm</button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  </div>
</div>

<h2>Cars for confirmation:</h2>
<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>
              Id
            </th>
            <th>
              Model
            </th>
            <th>
              Tehnical review
            </th>
            <th >
              Registration number
            </th>
            <th>
              Color
            </th>
            <th>
              Capacity
            </th>
            <th>
              Action
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of carData" >
            <td>
              {{car.id}}
            </td>
            <td>
              {{car.model}}
            </td>
            <td class="text-right">
              {{car.tehnicalReview}}
            </td>
            <td>
              {{car.registrationNumber}}
            </td>
            <td>
              {{car.color}}
            </td>
            <td>
              {{car.capacity}}
            </td>
            <td>
              <button (click)=confirm(car.id) class="btn" >Verify</button  >
            </td>
          </tr>
          
        </tbody>
    </table>
  </div>
  </div>
</div>
