  <div class="container card mt-5 p-4">
    <div class="row">
      <div class="col" id="subheader">ПОВЕЧЕ ЗА CYBER</div>
      <div class="col" id="subheaderunder">ЗА ШОФЬОРИТЕ</div>
      <div class="w-100"></div>
      <br>
      <div class="col" id="insideText">
        Cyber е ново мобилно приложение,
        разработено от екип международни
        IT специалисти ексклузивно за
        българския пазар, предлагащо бърз
        градски и междуградски транспорт на
        по-ниски тарифи от което и да е друго
        транспортно приложение.
        <br>
        <br>
        Това, което ни прави уникални са
        нашите ниски фиксирани тарифи за
        клиентите и разумни комисионни за
        шофьорите (само 6%). Също така,
        нашите услуги са налични на
        територията на цяла България.
        <br>
        <br>
        Cyber дава възможност на всеки
        амбициозен човек, независимо от
        неговия социален статут, да си
        осигури постоянен и стабилен доход.
      </div>

      <div class="col" id="insideText">
        За да станете шофьор на Cyber, са
        Ви нужни навършени 18 години,
        шофьорска книжка и автомобил.
        За да започнете работа, е нужна
        регистрация и депозит от минимум
        10лв. След всеки завършен курс, 6%
        от стойността му ще бъдат
        удържани от първоначалния Ви
        депозит.
        <br>
        <br>
        Заплащането се извършва от
        клиента в брой след всеки
        извършен курс.
        <br>
        <br>
        Депозирането се извършва чрез
        криптовалута. За повече
        информация, вижте страницата "Как
        да заредя акаунта си".
      </div>
    </div>
  </div>

  <div class="container card mt-4 p-4">
    <div class="row">
      <div class="col" id="subheaderunder">ЗА КЛИЕНТИТЕ</div>
      <div class="col"></div>
      <div class="w-100"></div>
      <br>
      <div class="col" id="insideText">
        Клиентите на Cyber могат да изтеглят
        мобилното приложение през
        AppStore и Google Play. За регистрация
        са нужни имейл и телефонен номер.
        Тарифите за някои от найпопулярните дестинации са следните:
        <br>
        <br>

        <ul>
          <li>
            София - Пловдив: 99лв*
          </li>
          <li>
            София - Бургас 239лв*
          </li>
          <li>
            София - Варна 279лв*
          </li>
        </ul>

        <small>*Цените са с приложена отстъпка от 10%</small>
      </div>
      <div class="col text-center">
        <div class="page-content page-container" id="page-content">
          <div class="padding">
            <div class="row container d-flex justify-content-center">
              <div class="template-demo mt-2"> <button class="btn btn-outline-dark btn-icon-text"> <i class="fa fa-apple btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Available on the</small> App Store </span> </button> <button class="btn btn-outline-dark btn-icon-text"> <i class="fa fa-android btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Get it on the</small> Google Play </span> </button> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

