<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
        <ion-label>TaxiMi</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <div class="row mt-2">
    <div class="col">
      <div class="row">
        <div class="col-md-12 text-center">
          <ion-text class="centered" color="light">
            <h2 class="text">My history</h2>
            <hr>
          </ion-text>
        </div>

        <div class="col-md-10">
          <div *ngFor="let order of orders" class="list-group mt-2">

            <a class="text list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="text mb-1">Order details</h5>
                <small>{{order.createdOn |  date:'MM/dd/yyyy h:mm'}}</small>
              </div>
              <p class="mb-1 text">Passenger: {{order.applicationUser.firstName}} {{order.applicationUser.lastName}}</p>
              <p class="mb-1 text">Phone number: {{order.applicationUser.phone}}</p>
              <p class="mb-1 text">Location: {{order.location}}</p>
              <p class="mb-1 text">Destination: {{order.destination}}</p>

              <div class="row">
                <div class="col-md-12">
                  <small class="text">Profit: {{order.totalPrice}}$</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>