<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="!isLoggedIn" tab="home">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Sign in</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn" tab="travelling">
      <ion-icon name="walk-outline"></ion-icon>
      <ion-label>Travel</ion-label>
    </ion-tab-button>

    <!-- Driver verified -->
    <ion-tab-button *ngIf="isLoggedIn && isVerified && documentConfirmed == true" tab="driver-profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>

    <!-- Driver verified -->
    <ion-tab-button *ngIf="isLoggedIn && isVerified && documentConfirmed == true" tab="driving">
      <ion-icon name="car"></ion-icon>
      <ion-label>Drive</ion-label>
    </ion-tab-button>
    
    <!-- Become a driver -->
    <ion-tab-button *ngIf="isLoggedIn && isVerified == false" tab="become-driver">
      <ion-icon name="car"></ion-icon>
      <ion-label>Drive</ion-label>
    </ion-tab-button>

    <!-- Check document confirmation -->
    <ion-tab-button *ngIf="isLoggedIn && isVerified == true && documentConfirmed == false" tab="verifying">
      <ion-icon name="car"></ion-icon>
      <ion-label>Drive</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
