ion-card {
        max-height: 200px;
        overflow: scroll;
        position: absolute;
        z-index: 1;
    }
    
    
    ion-toolbar{
        --ion-background-color:#eeeeee;
    }
    
    ion-title {
        text-align: center;
    }
    
    #toolbarIcon{
        font-size: 1.7em;
    }
    #toolbarIcon1{
        font-size: 3em;
        //--background: url(../../assets/Daco_4674738.png) 0 0/100% 100% no-repeat;
    }
    
    .centered{
        text-align: center;
    }
    
    .text{  
        font-size: 2.4em;
        font-family: Open Sans Light;
    }
    
    i{
        color:#eeeeee;
    }
    
    
    .my-custom-class {
        --background: #e5e5e5;
      }
    
    ion-select{
        color: rgb(56, 56, 56);
        background-color: white;
        border-radius: 10px;
        border: 3px solid #eeeeee;
    }