<ion-content padding class="background">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="col-9">
          <h5 (click)=goBack() class="back">Back</h5>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <ion-text class="centered" color="warning">
            <h2 class="text">Add a car</h2>
            <hr>
            <h5>Please upload your car, so we can verify your account</h5>
          </ion-text>

          <form [formGroup]="form" novalidate class="col-md-6">

            <div class="form-group col mt-5 text-center">
              <ion-input formControlName="model" type="text" class="form-control" placeholder="Model"
                [ngClass]="{ 'is-invalid': submitted && f.model.errors }">
              </ion-input>
              <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
                <div *ngIf="f.model.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-5 text-center">
              <select formControlName="type" class="form-control" id="exampleFormControlSelect1"
                [ngClass]="{ 'is-invalid': submitted && f.categoryType.errors }">
                <option value="" disabled selected hidden>Choose car type</option>
                <option value="1">Normal</option>
                <option value="2">Comfort</option>
              </select>
              <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-5 text-center">
              <ion-input formControlName="color" type="text" class="form-control" placeholder="Color"
                [ngClass]="{ 'is-invalid': submitted && f.color.errors }">
              </ion-input>
              <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                <div *ngIf="f.color.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-5 text-center">
              <ion-input formControlName="capacity" type="number" class="form-control" placeholder="Capacity"
                [ngClass]="{ 'is-invalid': submitted && f.capacity.errors }">
              </ion-input>
              <div *ngIf="submitted && f.capacity.errors" class="invalid-feedback">
                <div *ngIf="f.capacity.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-5 text-center">
              <ion-input formControlName="registrationNumber" type="text" class="form-control"
                placeholder="Registration Number"
                [ngClass]="{ 'is-invalid': submitted && f.registrationNumber.errors }">
              </ion-input>
              <div *ngIf="submitted && f.registrationNumber.errors" class="invalid-feedback">
                <div *ngIf="f.registrationNumber.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-5 text-center">
              <ion-input formControlName="tehnicalReview" type="text" class="form-control"
                placeholder="Technical Review" [ngClass]="{ 'is-invalid': submitted && f.tehnicalReview.errors }">
              </ion-input>
              <div *ngIf="submitted && f.tehnicalReview.errors" class="invalid-feedback">
                <div *ngIf="f.tehnicalReview.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="col-md-12 mt-3">
              <ion-button (click)="onSubmit()" type="submit" color="warning">Submit</ion-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</ion-content>