<ion-split-pane contentId="content">
  <ion-menu>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>


        <ion-title>
          <ion-label>TaxiMi</ion-label>
        </ion-title>

        <ion-buttons slot="end">
          <!-- [placeholder]='"tab1.languageChangePlaceholder" | translate' -->

          <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <!-- <ion-item [routerLink]="p.url" routerDirection="root" [class.active.item]="selectedPage">
      <ion-label> {{p.title}} </ion-label>
    </ion-item> -->
          <ion-item *ngIf="!isLoggedIn" routerLink="/menu/home">
            <ion-icon color="dark" slot="start" name="log-in-outline"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Home' | translate}} </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn" routerLink="/menu/favourite-orders">
            <ion-icon color="dark" slot="start" name="star-outline"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Favourites' | translate}} </ion-label>
          </ion-item>


          <ion-item *ngIf="isLoggedIn" routerLink="/menu/travelling">
            <ion-icon color="dark" slot="start" name="walk-outline"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Travel' | translate}} </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn" routerLink="/menu/out-of-town">
            <ion-icon color="dark" slot="start" name="bicycle-outline"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Out of town' | translate}} </ion-label>
          </ion-item>

          
          <ion-item *ngIf="isLoggedIn && isVerified && documentConfirmed == true && driverCars.length >= 1"
            routerLink="/menu/categories">
            <ion-icon color="dark" name="car-outline" slot="start"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Drive' | translate}} </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && isVerified == false && documentConfirmed == false"
            routerLink="/menu/become-driver">
            <ion-icon color="dark" name="car-outline" slot="start"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Drive' | translate}} </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && isVerified == true && driverCars.length == 0 && documentConfirmed == false"
            routerLink="/menu/car-register">
            <ion-icon color="dark" name="car-outline" slot="start"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Drive' | translate}} </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && documentConfirmed == false && isVerified == true" routerLink="/menu/verifying">
            <ion-icon color="dark" name="person-outline" slot="start"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Profile' | translate}} </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && documentConfirmed == false && isVerified == false" routerLink="/menu/become-driver">
            <ion-icon color="dark" name="person-outline" slot="start"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Profile' | translate}} </ion-label>
          </ion-item>

          <ion-item *ngIf="isLoggedIn && isVerified && documentConfirmed == true" routerLink="/menu/driver-profile">
            <ion-icon color="dark" name="person-outline" slot="start"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Profile' | translate}} </ion-label>
          </ion-item>

         
          <ion-item *ngIf="isLoggedIn" routerLink="/menu/report">
            <ion-icon color="dark" slot="start" name="alert-circle-outline"></ion-icon>
            <ion-label class="my-label" color="dark"> {{'Report' | translate}} </ion-label>
          </ion-item>

        </ion-menu-toggle>

        <ion-item *ngIf="isLoggedIn" toppable (click)=logout() routerDirection="root">
          <ion-icon color="dark" name="log-out-outline" slot="start"></ion-icon>
          <ion-label class="my-label" color="dark"> {{'Logout' | translate}} </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>