ion-content{
    --ion-background-color:#353535;
}

ion-toolbar{
    --ion-background-color:#eeeeee;
}

ion-title {
    text-align: center;
}

#toolbarIcon{
    font-size: 1.7em;
}


.text{  
    font-size: 2.4em;
    font-family: Open Sans Light;
}

.reg{
    margin-top: 20px;
}

ion-input {
    border-radius: 20px;
}
    