<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
        <ion-label>TaxiMi</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <div class="row mt-2">
    <div class="col">
      <div class="row mt-2">

      </div>
      <ion-text class="text-center" color="light">
        <div class="col-md-5 mt-3">
          <h2 class="text">
            REGISTER
          </h2>
        </div>

        <div class="row text-center">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="col-md-6">
            <div class="form-group col mt-5">
              <ion-input formControlName="firstName" type="text" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
              </ion-input>
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">The field is required</div>
              </div>
            </div>
            <div class="form-group col mt-3">
              <ion-input formControlName="lastName" type="text" class="form-control" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
              </ion-input>

              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">The field is required!</div>
              </div>
            </div>
            <div class="form-group col mt-3">
              <ion-input formControlName="username" type="text" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"></ion-input>

              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-3">
              <ion-input formControlName="phone" type="text" class="form-control" placeholder="Phone Number" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
              </ion-input>
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-3">
              <ion-input formControlName="password" type="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              </ion-input>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">The field is required!</div>
              </div>
            </div>

            <div class="form-group col mt-3">
              <ion-input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
              </ion-input>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">The field is required!</div>
                <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password should match!</div>

              </div>
            </div>

            <div class="form-group col mt-3">
              <ion-input formControlName="referral" type="text" class="form-control" placeholder="Referral"></ion-input>
            </div>

            <div class="col-md-12 mt-3">
              <ion-button type="submit" color="light">Register</ion-button>
            </div>
          </form>


          <div class="col-md-6 mt-3">
            <p>Already have an account?</p>
            <ion-button (click)="signIn()" type="submit" color="danger">Sign in</ion-button>

          </div>
        </div>

      </ion-text>
    </div>
  </div>


</ion-content>