<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    

    <ion-title>
        <ion-label>Choose starting point</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="noScroll">
  <div #map id="map"></div>
  <div #marker id="marker"></div>
 
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Choosen location</ion-title>

    <ion-buttons slot="end">
      <img class="mr-3" (click)="onSubmit()" src="../../../assets/Daco_4674738.png" width="40" height="40">
   </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{address}}</ion-title>

    
  </ion-toolbar>

  
</ion-footer>
