<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    

    <ion-title>
        <ion-label>Choose starting point</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-item style="cursor: pointer" (click)="locatePosition()">
      <ion-button fill="clear">
          <ion-icon slot="start" name="map"></ion-icon>
          Locate Position
      </ion-button>
  </ion-item>
<ion-item>
  <ion-icon slot="start" name="locate"></ion-icon>
  <ion-label position="stacked">Address</ion-label>
<ion-textarea [(ngModel)]="address" type="text" style="margin-top:20px;"></ion-textarea>
</ion-item>
<ion-button shape="round" expand="block" (click)="confirmPickupLocation()">Confirm Pickup Location</ion-button>
</ion-content> -->

<ion-button (click)="destination()" size="expand" color="light">Click here to choose destination</ion-button>
<ion-content class="noScroll">

  <div #map id="map"></div>
</ion-content>
