<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            <ion-label>TaxiMi</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-icon id="toolbarIcon" name="language-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <div class="row mt-2">
        <div class="col">
            <!-- <div class="row mt-2">
              <div class="col-1">
                <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>
              </div>
              <div class="col-9">
                <h5 (click)=goBack() class="back">Back</h5>
              </div>
            </div> -->
            <!--<div class="row">
                <div class="col text-center">
                    <ion-text class="centered" color="light">
                        <h2 class="text">Become a driver</h2>
                        <hr>
                        <h5 class="text">Please upload your documents, so we can verify your account</h5>
                    </ion-text>

                    <div class="row">
                        <div class="col-md-12">
                            <ion-text color="light">
                                <hr>
                                <h5 class="text">Click the button below and upload both image for your drivers license and your id card.</h5>
                            </ion-text>

                            <input type="file" #file placeholder="Choose file" (change)="uploadLicense(file.files)" style="display:none;">
                            <ion-button class="my-label mt-3" (click)="file.click()" expand="full" color="light">Upload</ion-button>
                            <div class="col-md-4 mt-2">
                                <div class="progress form-group" *ngIf="progress > 0">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                                    </div>
                                </div>

                                <span class="upload" *ngIf="progress > 0">
                                    {{progress}}%
                                </span>
                                <span class="upload" *ngIf="message">
                                    {{message}}
                                </span>
                            </div>
                        </div>
                    </div>-->
            <!-- <form [formGroup]="form" novalidate class="col-md-6">

              <div class="form-group col mt-5 text-center">
                <ion-input formControlName="driverLicense" type="text" class="form-control"
                  placeholder="Driver License Number" [ngClass]="{ 'is-invalid': submitted && f.driverLicense.errors }">
                </ion-input>
                <div *ngIf="submitted && f.driverLicense.errors" class="invalid-feedback">
                  <div *ngIf="f.driverLicense.errors.required">The field is required!</div>
                </div>
              </div>


              <div class="form-group col mt-5 text-center">
                <ion-input formControlName="idCardNumber" type="text" class="form-control" placeholder="ID Card Number"
                  [ngClass]="{ 'is-invalid': submitted && f.idCardNumber.errors }">
                </ion-input>
                <div *ngIf="submitted && f.idCardNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.idCardNumber.errors.required">The field is required!</div>
                </div>
              </div>

              <div class="col-md-12 mt-3">
                <ion-button (click)="onSubmit()" type="submit" color="light">Submit</ion-button>
              </div>
            </form> -->
            <!--<div class="col-md-12 mt-3">
                <ion-button (click)="onSubmit()" type="submit" color="light">Submit</ion-button>
            </div>-->
            <!--</div>
            </div>-->
        </div>
    </div>

    <ion-content padding (change)="upload()">
        <div class="col text-center">
            <ion-text class="centered" color="light">
                <h2 class="text">Become a driver</h2>

                <h5 class="text">Please upload your documents, so we can verify your account</h5>

                <ion-text color="light">

                    <h5 class="text">Click the button below and upload both image for your drivers license and your id card.</h5>
                </ion-text>

                <hr>
            </ion-text>

        </div>
        <app-multi-file-upload></app-multi-file-upload>
        <div class="col-md-4 mt-2">
            <div class="progress form-group" *ngIf="progress > 0">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                </div>
            </div>

            <span class="upload" *ngIf="progress > 0">
                {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
                {{message}}
            </span>
        </div>
    </ion-content>
</ion-content>