<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-label>{{'Out of town' | translate}}</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form *ngIf="!isSubmitted" [formGroup]="form" novalidate class="col pt-4">
        <ion-item>
            <ion-label>Trip</ion-label>
            <ion-select formControlName="optionsId">
                <ion-select-option *ngFor="let option of options" value="{{option.id}}">{{option.location}} --> {{option.destination}} | {{option.totalPrice}} BGN</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Data</ion-label>
            <ion-datetime displayFormat="MM-DD"
                          placeholder="Select date"
                          formControlName="date"
                          #myt
                          [pickerOptions]="customPickerOptions"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime displayFormat="HH:mm"
                          placeholder="time"
                          formControlName="time"
                          #myd
                          [pickerOptions]="customPickerOptions"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Info</ion-label>
            <ion-input formControlName="info"></ion-input>
        </ion-item>
    </form>

 
        <div *ngIf="isAccepted" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            A guide has been found. Please wait a call for details.
        </div>

    <div *ngIf="isSubmitted" id="order" class="col-md-10 ">
        <div class="list-group mt-2">
            <a class="text list-group-item list-group-item-action flex-column align-items-start">
                <p id="warningicn"> <ion-icon name="alert-circle"></ion-icon>  Date: {{subOrder.date}}</p>
                <div class="text-center">
                    <h4> {{subOrder.location}} <ion-icon class="mr-2" name="arrow-forward-outline"></ion-icon>{{subOrder.destination}}</h4>
                </div>
                <hr />
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 fonted"></h5>
                </div>
                <div class="row">
                    <div class="col">
                        <p *ngIf="subOrder.info">Info: {{'Additional requirements' | translate}}:</p>
                        <p>
                            {{subOrder.info}}
                        </p>
                        <p *ngIf="isAccepted"><ion-icon name="car"></ion-icon> Travel with: {{driver.firstName}} {{driver.lastName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p *ngIf="subOrder.info">{{'Price' | translate}}: {{subOrder.price}} BNG</p>

                    </div>


                    <button *ngIf="!isAccepted" class="mr-2 btn btn-danger fonted" (click)="cancelOrder()"> {{'Cancel'| translate}} </button>

                </div>

            </a>
        </div>
    </div>

    <div *ngIf="!isSubmitted" class="row text-center pt-4 pb-3">
        <div class="col-md-12">
            <button [disabled]="isSubmitted" type="button"
                    (click)="onSubmit()" class="mt-1 btn btn-warning fonted">
                {{'Make a order'| translate}}
                <span *ngIf="isSubmitted" class="spinner-border spinner-border-sm mr-1"></span>
            </button>
        </div>
    </div>

</ion-content>