<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
        <ion-label>Cyber(updated)</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background" *ngIf="!isLoggedIn" >
  <div class="row mt-2">
    <div class="col text-center">
      <ion-text class="centered">
        <div class="col mt-1">
          <img src="../../../assets/logo_trans_230x120.png" alt="image">
          <!-- <h1 class="text">Cyber</h1> -->
          
        </div>
        <h4 class="subtitle fonted">{{'Enter your credentials' | translate}}</h4>
      </ion-text>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="row">
          <form [formGroup]="form" novalidate class="col-md-6">
              <ion-text *ngIf="err" color="danger">
                  <div class="text-center">{{err}}</div>
              </ion-text>
              <div class="form-group col mt-2 text-center">
                  <ion-input formControlName="username" type="text" class="form-control"
                             [placeholder]='"Email" | translate' [ngClass]="{ 'is-invalid':submitted == true && f.username.errors }"></ion-input>
                  <div *ngIf="submitted == true && f.username.errors" class="invalid-feedback">
                      <div *ngIf="submitted == true && f.username.errors.required">{{'The field is required' | translate}}!</div>
                  </div>
              </div>



              <div class="form-group col mt-3 text-center">
                  <ion-input formControlName="password" type="password" class="form-control"
                             [placeholder]='"Password" | translate' [ngClass]="{ 'is-invalid':submitted == true && f.password.errors }"></ion-input>
                  <div *ngIf="submitted == true && f.password.errors" class="invalid-feedback">
                      <div *ngIf="submitted == true && f.password.errors.required">{{'The field is required' | translate}}!</div>
                  </div>
              </div>



              <div class="d-flex w-100 justify-content-between">
                  <div class="form-group col mt-1 mr-2">
                      
                  </div>
                  <div class="col- mr-3">
                      <!-- <img (click)="onSubmit()" src="../../../assets/start-stop.png" width="90" height="90"> -->
                      <button (click)="onSubmit()" type="submit" class="btn btn-dark">{{'Login' | translate}}
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      </button>
                  </div>
              </div>



              <div class="form-group col mr-2">
                  <p class="subtitle fonted">{{'Dont have an account' | translate}}?</p>
                  <button class="small" (click)="signUp()" type="submit"  class="btn btn-danger">{{'Register' | translate}}</button>
              </div>
          </form>

        <!-- <div class="col-md-6 mt-3">
          <p>Dont have an account?</p>
          <ion-button (click)="signUp()" type="submit" color="danger">Sign up</ion-button>

        </div> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="text-center">

        <div class="col text-center">
          <div class="row text-center">
            <div class="col-md-12">
              <ion-item>
                <ion-icon class="ig" name="logo-instagram" item-start></ion-icon>
                <h3 class="iconsText ml-2" item-end>@Instagram</h3>
              </ion-item>
            </div>
            <div class="col-md-12 mt-1">
              <ion-item>
                <ion-icon class="fb" name="logo-facebook" item-start></ion-icon>
                <h3 class="iconsText ml-2" item-end>@Facebook</h3>
              </ion-item>
            </div>
            <div class="col-md-12 mt-1">
              <ion-item>
                <ion-icon class="tw" name="logo-twitter" item-start></ion-icon>
                <h3 class="iconsText ml-2" item-end>@Twitter</h3>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>
