<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">1. КАК ДА ЗАПОЧНА ДА ПЕЧЕЛЯ?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Нужни са ви автомобил в изправно състояние, смартфон с интернет достъп и
                                дигитален портфейл за криптовалута (Wirex), с която да захраните Cyber акаунта си.
                                Повече информация за това как да заредите своя акаунт може да намерите тук.

                            </td>
                        </tr>
                        <hr>
                    </tbody>

                    <thead>
                        <tr>
                            <th scope="col">2. КАК ДА ВЗИМАМ ПОРЪЧКИ?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Нужен ви е верифициран Cyber акаунт, който трябва заредите предварително. В полето
                                "Карай" ще намерите две основни категории поръчки - "Градски" и "Извънградски". За да
                                вземете поръчка, кликнете върху нея и натиснете бутона "Вземи".

                            </td>
                        </tr>
                        <hr>
                    </tbody>

                    <thead>
                        <tr>
                            <th scope="col">3. КАК СЕ ИЗЧИСЛЯВА ЦЕНАТА НА ПОРЪЧКАТА?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Cyber работи с фиксирани цени за градски и извънградски поръчки
                                <br>
                                <br>

                                <b>1.</b>
                                Цената се определя само и единствено от изминатите километри, независимо от
                                времето за изпълнение на поръчката. Тарифата градски поръчки е <b>0,99лв/км</b>. Когато
                                шофьорът пристигне на посочената локация, Cyber известява клиента и времето за
                                безплатно изчакване от <b>5 минути</b> започва да тече. В случай, че клиентът надвиши
                                гореспоменатото време за изчакване, му се начислява допълнителна такса от <b>0,30лв/
                                    мин.</b>

                                <br>
                                <b> 2.</b>
                                Извънградски
                                За подробно описание на нашите извънградски тарифи, натиснете <b>тук</b>.
                            </td>
                        </tr>

                        <hr>
                    </tbody>

                    <thead>
                        <tr>
                            <th scope="col">4. НА КАКВА КОМИСИОННА РАБОТЯ?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Комисонната, която Cyber удържа от цената на всяка поръчка е 5% от нейната стойност.
                            </td>
                        </tr>
                        <hr>
                    </tbody>

                    <thead>
                        <tr>
                            <th scope="col">5. КОНТРОЛ НА РАБОТНОТО ВРЕМЕ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Платформата Cyber може да бъде използвана 24/7, 365 дни в годината и ви дава
                                възможността сами да определяте работното си време.
                            </td>
                        </tr>
                        <hr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>