<div class="i-am-centered">
  <div class="row">
    <div class="col">


      <div class="text-center" color="warning">

        <div class="row text-center">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="col-md-6">
            <div class="form-group col mt-5">
              <input formControlName="username" type="text" class="form-control" placeholder="Email"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">The field is required!</div>
              </div>
            </div>



            <div class="form-group col mt-3">
              <input formControlName="password" type="password" class="form-control" placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">The field is required!</div>
              </div>
            </div>



            <div class="col-md-12 mt-3">
              <button class="btn" type="submit" color="warning">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
