<link href="//fonts.googleapis.com/css?family=Open+Sans:600&subset=latin" type="text/css" rel="stylesheet">
<link href="https://www.alfacoins.com/sites/all/modules/merchant/css/merchant.button.css" rel="stylesheet">
<script type="text/javascript" src="https://www.alfacoins.com/sites/all/modules/merchant/js/btn-svg.js"></script>

<div class="row">
    <div class="col-md-12 text-center">
        <h4 class="mt-2 text">Please top up your account to start driving.</h4>
        <h5>Click one of the buttons below to charge. You will see more information on the redirected page.</h5>
    </div>

<div class="col-md-12 text-center">

    <form action="https://www.alfacoins.com/checkout" method="post" id="alfacoins-checkout-form1">
        <input type="hidden" name="button_id" value="6047847005579">
        <button type="button" class="btn btn-primary" 
            onclick="document.getElementById('alfacoins-checkout-form1').submit();">
            <span> Charge 10 $ </span>
        </button>
    </form>
    <form action="https://www.alfacoins.com/checkout" method="post" id="alfacoins-checkout-form2">
        <input type="hidden" name="button_id" value="604784ce666db">
        <button type="button" class="btn btn-primary"
            onclick="document.getElementById('alfacoins-checkout-form2').submit();">
            <span> Charge 15 $ </span>
        </button>
    </form>

    <form id="alfacoins-checkout-form" method="post" action="https://www.alfacoins.com/checkout"
        id="alfacoins-checkout-form3">
        <input name="button_id" value="60478574cb508" type="hidden">
        <button type="button" class="btn btn-primary"
            onclick="document.getElementById('alfacoins-checkout-form3').submit();">
            <span> Charge 20 $ </span>
        </button>
    </form>

    <form action="https://www.alfacoins.com/checkout" method="post" id="alfacoins-checkout-form4">
        <input type="hidden" name="button_id" value="604f4f78b4f38">
        <button type="button" class="btn btn-primary"
            onclick="document.getElementById('alfacoins-checkout-form4').submit();">
            <span> Charge 50 $ </span>
        </button>
    </form>

    <form action="https://www.alfacoins.com/checkout" method="post" id="alfacoins-checkout-form5">
        <input type="hidden" name="button_id" value="6050a41c82c5a">
        <button type="button" class="btn btn-primary"
            onclick="document.getElementById('alfacoins-checkout-form5').submit();">
            <span> Charge 100 $ </span>
        </button>
    </form>

</div>
    <div class="col-md-12">
    <h5 class="ranking my-label text-center pt-2 text">
        Your wallet ballance:
        {{walletAmount}} $
    </h5>
</div>

</div>