ion-content{
    //--background: url(../../assets/wp4792780-dark-phone-wallpapers.jpg) 0 0/100% 100% no-repeat;
    --ion-background-color:#353535;
}

ion-toolbar{
    --ion-background-color:#eeeeee;
}

ion-title {
    text-align: center;
}

#toolbarIcon{
    font-size: 1.7em;
}

a{
    text-decoration:none;
    color: black;
}

.centered{
    text-align: center;
}

.text {
    font-family: Open Sans Light;
}


hr{
    background:#eeeeee;
    width: 70% !important;
}


.my-label{
    font-family: Open Sans Light;
}

.backIcon {
    color: rgb(255, 174, 0);
    font-size: 150%;
}

.back {
    color: rgb(255, 174, 0);
}
 .car {
     color: green;
 }

.card-transparent {
    margin: 0 auto;

    .header-transparent {
        height: 150px;  

        .avatar {
            width: 160px;
            height: 120px;
            position: relative;
            margin: 0 auto;
            img {
                height: 130px;
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 8px));
                background-color: #fff;
                margin-left: 20px;
            }
        }
    }
}
.my-custom-class {
    --background: #e5e5e5;
  }

.card-body {
    background-color: #ffffff;
    padding: 30px;
    height: 100%;
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}
