ion-content.background{
    --background: url(../../../assets/TaxiMi-homeback1.jpg) 0 0/100% 100% no-repeat;
}
.centered{
    text-align: center;
}
.text{ 
    font-size: 2.4em;
}

.subtitle{
    font-size: 1em;
    font-family: cursive;
    color: rgb(255, 174, 0);
}

ion-item {
    --background: none;
    opacity:1;
    --border-width: 0;
    --inner-border-width: 0;
  }

  .iconsText{
    color: rgb(255, 174, 0);
    font-family: cursive;
    font-size: 1em;
}

.ig {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 80px;
    color: #fff;
    font-size: 220px;
    line-height: 250px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.fb {
    color: #3b5998;
    font-size: 200%;
}


.tw {
    color: rgb(18, 184, 250);
    font-size: 200%;
}


ion-input {
    border-radius: 20px;
    border: 3px solid rgb(255, 174, 0);
}
.backIcon {
    color: rgb(255, 174, 0);
    font-size: 150%;
}
.back {
    color: rgb(255, 174, 0);
}