<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.artistichno.com">
                        Artistichno INC
                    </a>
                </li>
                <li>
                    <a href="https://artistichno.com/%d1%81%d0%b2%d0%be%d0%b1%d0%be%d0%b4%d0%bd%d0%b0-%d0%b6%d1%83%d1%80%d0%bd%d0%b0%d0%bb%d0%b8%d1%81%d1%82%d0%b8%d0%ba%d0%b0/">
                       Blog
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://wwww.artistichno.com">Artistichno Team</a>
        </div>

    </div>
</footer>
