
.alert {
    padding: 20px;
    background-color: #ffac00; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


ion-content{
    //--background: url(../../assets/wp4792780-dark-phone-wallpapers.jpg) 0 0/100% 100% no-repeat;
    --ion-background-color:#e9e9e9;
}

ion-toolbar{
    --ion-background-color:#eeeeee;
}

    #map {
    height: 100%;
    width: 100%;
    }
    

ion-title {
    text-align: center;
}

h5{
    font-size: 0.9em;
}
#toolbarIcon{
    font-size: 1.7em;
}

.fonted{
    font-family: Open Sans Light;
}

.centered{
    text-align: center;
}

.text{  
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Open Sans Light;
}

hr{
    background:#eeeeee;
    width: 70% !important;
}

//chat

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

