<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            <ion-label>{{'Reservations' | translate}}</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="col-md-10">
        <div *ngFor="let subOrder of mySubOrders" id="orderDiv" class="list-group mt-2">

            <a class="text list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <small>{{subOrder.createdOn | date:'MM/dd/yyyy h:mm'}}</small>
                    <small><i class="fa fa-calendar"></i> {{subOrder.date}}</small>
                </div>

                <h4 class="mt-1 text-center ">{{subOrder.location}} <ion-icon class="mr-2" name="arrow-forward-outline"></ion-icon> {{subOrder.destination}}</h4>
                <h5 class="mt-1 text-center ">{{subOrder.totalPrice}} BGN</h5>
                <hr />
                <div class="row pl-3">
                    <p>{{subOrder.info}}</p><br />
                </div>
                <div class="row pl-3">
                    <p><ion-icon name="person"></ion-icon>  {{subOrder.applicationUser.firstName}}  {{subOrder.applicationUser.lastName}} </p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <button class="fonted btn btn-danger" (click)="cancelOrder(subOrder)" type="button">{{'Cancel' | translate}}</button>
                    <button class="fonted btn btn-info" (click)="acceptByUser(subOrder.id)" type="button">{{'Accept' | translate}}</button>
                    <button class="fonted btn btn-warning" (click)="callToUser(subOrder.applicationUser.phone)" type="button">{{'Call passenger' | translate}}</button>
                </div>
            </a>
        </div>

        <div *ngFor="let progressOrder of progressOrders" id="orderDiv" class="list-group mt-2">

            <a class="text list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <small>{{progressOrder.createdOn | date:'MM/dd/yyyy h:mm'}}</small>
                    <small><i class="fa fa-calendar"></i> {{progressOrder.date}}</small>
                </div>

                <h4 class="mt-1 text-center ">{{progressOrder.location}} <ion-icon class="mr-2" name="arrow-forward-outline"></ion-icon> {{progressOrder.destination}}</h4>
                <h5 class="mt-1 text-center ">{{progressOrder.totalPrice}} BGN</h5>
                <hr />
                <div class="row pl-3">
                    <p>{{progressOrder.info}}</p><br />
                </div>
                <div class="row pl-3">
                    <p><ion-icon name="person"></ion-icon>  {{progressOrder.applicationUser.firstName}}  {{progressOrder.applicationUser.lastName}} </p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <button class="fonted btn btn-warning" (click)="callToUser(progressOrder.applicationUser.phone)" type="button">{{'Call passenger' | translate}}</button>
                    <button class="fonted btn btn-info" (click)="closeOrder(progressOrder)" type="button">{{'Finish trip' | translate}}</button>
                </div>

            </a>
        </div>
    </div>
</ion-content>


