
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="payment">
         <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
        <div class="content">
          <h1>Успешно плащане !</h1>
          <p>Благодарим за вашата заявка! Успешно заредихте {{price}} лв. към вашия профил</p>
          <a class="btn" href="#/payments">Към профила</a>
        </div>

      </div>
    </div>
  </div>
</div>
