
<div class="file-input-container ">
    <label>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple />
        Add Files
    </label>
</div>

<h3>Files: {{ uploader?.queue?.length }}</h3>

<ion-list>
    <ion-reorder-group (ionItemReorder)="reorderFiles($event)" disabled="false">
        <ion-item *ngFor="let item of uploader.queue">
            <ion-label>
                {{ item?.file?.name }}
            </ion-label>
            <ion-reorder></ion-reorder>
        </ion-item>
    </ion-reorder-group>
</ion-list>