<ion-content padding class="background">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon class="backIcon ml-2" name="chevron-back-outline"></ion-icon>
        </div>
        <div class="col-9">
          <h5 (click)=goBack() class="back">Back</h5>
        </div>
      </div>

      <div class="card-transparent">
        <div class="header-transparent">
          <div class="avatar">
            <img src="../../assets/about-us-yellow-taxi_360x240_973.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{user.firstName}} {{user.lastName}}</h3>
          <h4 class="playername">{{user.phone}}</h4>

          <h6 class="ranking">Wallet ballance: <ion-chip>
              <ion-label>{{walletAmount}}$</ion-label>
            </ion-chip>
          </h6>
          <ion-chip (click)="presentPrompt()">
            <ion-label>Charge cash</ion-label>
          </ion-chip>
          <h6 class="ranking">Rating: <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
          </h6>
          <h6 class="ranking">Commission: <ion-chip>
            <ion-label>{{driverCommission}}%</ion-label>
          </ion-chip>
        </h6>
        </div>
        <ion-button (click)="openHistory()" expand="full" color="warning">Drive history</ion-button>
        <ion-button (click)="addNewCar()" expand="full" color="warning">Add new car</ion-button>
        <h6 *ngIf="carsCount > 0" class="ranking ion-text-center">
          <ion-chip>
            <ion-label>Choose your car for today:</ion-label>
          </ion-chip>
        </h6>

        <h6 *ngIf="carsCount == 0" class="ranking ion-text-center">
          <ion-chip>
            <ion-label>You must add car</ion-label>
          </ion-chip>
        </h6>
        <div *ngFor="let car of driverCars">
          <div class="row">
            <div class="col-10">
              <ion-button *ngIf="car.isActive == false" (click)="active(car)" expand="full" color="medium">{{car.model}}
                - {{car.registrationNumber}}</ion-button>
              <ion-button *ngIf="car.isActive == true" (click)="active(car)" expand="full" color="success">{{car.model}}
                - {{car.registrationNumber}}</ion-button>
            </div>
            <div class="col-2">
              <ion-button (click)="deleteCar(car.id)" style="float: right" expand="full" color="danger">
                Delete
              </ion-button>

            </div>

          </div>

        </div>

        <div class="text-center ranking">
          My referral
          <ion-chip (click)="copy(referral)" >
            <ion-label>{{referral}}</ion-label>
          </ion-chip>
        </div>
          
      </div>
    </div>
  </div>


</ion-content>