<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-label>TaxiMi</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <div class="row mt-2">
    <div class="col">
      <div class="card-transparent">
        <div class="header-transparent">
          <div class="avatar">
            <img src={{imgPath}} onerror="this.onerror=null; this.src='../assets/default.png'" alt="">
          </div>
        </div>
      </div>
      

      <div class="card-body">

        
        <div class="user-meta ion-text-center">
          <h3 class="playername my-label text">{{user.firstName}} {{user.lastName}}</h3>
          <h4 class="playername my-label text">{{user.phone}}</h4>

          <h6 class="ranking my-label text">{{'Wallet ballance' | translate}}: <ion-chip>
              <ion-label>{{walletAmount}}$</ion-label>
            </ion-chip>
          </h6>
          <ion-chip (click)="chargeCash()">
            <ion-label class="my-label text">{{'Click to charge your account' | translate}}</ion-label>
          </ion-chip>
          <h6 class="ranking my-label text">{{'My rating' | translate}}: <ion-chip>
              <ion-label>{{rating}}</ion-label>
            </ion-chip>
          </h6>
          <h6 class="ranking my-label text">{{'Commission' | translate}}: <ion-chip>
              <ion-label>{{driverCommission}}%</ion-label>
            </ion-chip>
          </h6>
        </div>
        
          <input type="file" #file placeholder="Choose file" (change)="upload(file.files)" style="display:none;">
          <ion-button class="my-label" (click)="file.click()" expand="full" color="primary">{{'Upload picture' | translate}}</ion-button>

        <div class="col-md-4">
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        </div>
        <ion-button class="my-label text" (click)="openHistory()" expand="full" color="dark">{{'Drive history' | translate}}</ion-button>
        <ion-button class="my-label text" (click)="addNewCar()" expand="full" color="dark">{{'Add new car' | translate}}</ion-button>
        <h6 *ngIf="carsCount > 0" class="ranking ion-text-center">
          <ion-chip>
            <ion-label class="my-label text">{{'Choose your car for today' | translate}}:</ion-label>
          </ion-chip>
        </h6>

        <h6 *ngIf="carsCount == 0" class="ranking ion-text-center">
          <ion-chip>
            <ion-label class="my-label text">{{'You must add car' | translate}}</ion-label>
          </ion-chip>
        </h6>
        <div *ngFor="let car of driverCars">
          <div class="row">
            <div class="col-10">
              <ion-button class="my-label text" *ngIf="car.isActive == false && car.typeId == 2" (click)="active(car)" expand="full"
                color="medium">{{car.model}}
                - Comfort</ion-button>
                <ion-button class="my-label text" *ngIf="car.isActive == false && car.typeId == 1" (click)="active(car)" expand="full"
                color="medium">{{car.model}}
                - Normal</ion-button>
              <ion-button class="my-label text car" *ngIf="car.isActive == true && car.typeId == 2" (click)="active(car)" expand="full" color="success">{{car.model}}
                - Comfort</ion-button>
                <ion-button class="my-label text car" *ngIf="car.isActive == true && car.typeId == 1" (click)="active(car)" expand="full" color="success">{{car.model}}
                  - Normal</ion-button>
            </div>
            <div class="col-2">
              <ion-button class="my-label text" (click)="deleteCar(car.id)" style="float: right" expand="full"
                color="danger">
                {{'Delete'| translate}}
              </ion-button>

            </div>

          </div>

        </div>

        <div class="text-center ranking my-label text">
          {{'My referral'| translate}}
          <ion-chip (click)="copy(referral)">
            <ion-label>{{referral}}</ion-label>
          </ion-chip>
        </div>

      </div>
    </div>
  </div>


</ion-content>