ion-content.background{
    --background: url(../../assets/wp4792780-dark-phone-wallpapers.jpg) 0 0/100% 100% no-repeat;
}

.centered{
    text-align: center;
}

hr{
    background:rgb(255, 174, 0);
    width: 70% !important;
}

ion-input {
    border-radius: 20px;
    border: 3px solid rgb(255, 174, 0);
}

.backIcon {
    color: rgb(255, 174, 0);
    font-size: 150%;
}

.back {
    color: rgb(255, 174, 0);
}

.support{
    margin-top: 50px;
}
ion-icon {
    color: rgb(255, 174, 0);
    font-size: 350%;
}