ion-content.background{
    --background: url(../../assets/wp4792780-dark-phone-wallpapers.jpg) 0 0/100% 100% no-repeat;
}

.centered{
    text-align: center;
}
hr{
    background:rgb(255, 174, 0);
    width: 70% !important;
}


.backIcon {
    color: rgb(255, 174, 0);
    font-size: 150%;
}

.back {
    color: rgb(255, 174, 0);
}