<ion-content padding class="background" *ngIf="!isLoggedIn" >
  <div class="row">
    <div class="col">
      <ion-text class="centered" color="warning">
        <div class="col mt-3">
          <h1 class="text">TAXI MI</h1>
          <h4 class="subtitle">Siempre a precio fijo</h4>
        </div>

      </ion-text>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-5 mt-5">
        <ion-button (click)="loginPage()" expand="block" color="warning">Login</ion-button>
      </div>
      <div class="col-md-5 mt-2">
        <ion-button (click)="registerPage()" expand="block" color="warning">Register</ion-button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="text-center">

        <div class="col mt-5 text-center">
          <div class="row text-center">
            <div class="col">
              <ion-item>
                <ion-icon name="logo-instagram" item-start></ion-icon>
                <h3 class="iconsText" item-end>@Instagram</h3>
              </ion-item>
            </div>
            <div class="col mt-1">
              <ion-item>
                <ion-icon name="logo-facebook" item-start></ion-icon>
                <h3 class="iconsText" item-end>@Facebook</h3>
              </ion-item>
            </div>
            <div class="col mt-1">
              <ion-item>
                <ion-icon name="logo-twitter" item-start></ion-icon>
                <h3 class="iconsText" item-end>@Twitter</h3>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>

<ion-content padding class="background" *ngIf="isLoggedIn">
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-1">
          <ion-icon (click)=logout() class="backIcon ml-2" name="log-out-outline"></ion-icon>
        </div>
        <div class="col-9">
          <h5 (click)=logout() class="back">Logout</h5>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="support">
            <ion-text class="centered" color="warning">
              <h1 class="text">Use app for</h1>
              <div class="col-md-5 mt-5">
                <ion-button (click)="travelPage()" expand="block" color="warning">Traveling</ion-button>
              </div>
              <div class="col-md-5 mt-2">
                <ion-button (click)="drivePage()" expand="block" color="warning">Money earning</ion-button>
              </div>

              <h1 class="text mt-5">Follow us on</h1>
            </ion-text>
    
            <div class="col mt-3 text-center">
              <div class="row">
                <div class="col">
                  <ion-icon name="logo-instagram"></ion-icon>
                </div>
                <div class="col">
                  <ion-icon name="logo-twitter"></ion-icon>
                </div>
                <div class="col">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>


</ion-content>