<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
        <ion-label>Cyber</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon (click)='openLanguagePopover($event)' id="toolbarIcon" name="language-outline"></ion-icon>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <div class="row mt-2">
    <div class="col">
      <div class="row">
        <div class="col-md-12 text-center">
          <ion-text class="centered">
            <h2 class="text">{{'My history' | translate}}</h2>
            <hr>
          </ion-text>
        </div>
        <div class="col-md-10">
        <div class="list-group mt-2">

          <a class="text list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="text mb-1">{{'Daily earnings' | translate}}</h5>
              <small>{{'Today' | translate}}: {{currentDate |  date:'MM/dd/yyyy h:mm'}}</small>

            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <h5 class="text">{{'Total' | translate}}: {{dailyProfit}} лв.</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
        <div class="col-md-10">
          <div *ngFor="let order of orders" class="list-group mt-2">

            <a class="text list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="text mb-1">{{'Order details' | translate}}</h5>
                <small>{{order.createdOn |  date:'MM/dd/yyyy h:mm'}}</small>
              </div>
              <p class="mb-1 text">{{'Passenger' | translate}}: {{order.applicationUser.firstName}} {{order.applicationUser.lastName}}</p>
              <p class="mb-1 text">{{'Phone number' | translate}}: {{order.applicationUser.phone}}</p>
              <p class="mb-1 text">{{'Location' | translate}}: {{order.location}}</p>
              <p class="mb-1 text">{{'Destination' | translate}}: {{order.destination}}</p>

              <div class="row">
                <div class="col-md-12">
                  <small class="text">{{'Profit' | translate}}: {{order.totalPrice}} лв.</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>