<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    

    <ion-toolbar>
      <ion-title size="large">Tab 1 new tab 1 </ion-title>
      
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page">
    
  </app-explore-container>

  <button ion-button icon-only (click)="getweatherFromService()"  >
    <ion-icon name="add"></ion-icon>
  </button>

  <ion-item *ngFor="let item of this.data">
    {{item.summary}}
    
  </ion-item>

</ion-content>
