<div class="container">
  <div class="row d-flex justify-content-center pt-5">
    <div class="col-md-12 col-sm-12 col-lg-6 logo">
      <img class="pt-5 pb-5" src="../../../../assets/img/image00001.png" width="640" />

    </div>
  </div>
  <div class="col text-center pt-3">
    <h5 class="text-center pt-2">Винаги на изгодна цена</h5>
    <div class="page-content page-container" id="page-content">
      <div class="padding ">
        <div class="row container d-flex justify-content-center">
          <div class="template-demo mt-2"> <button class="btn btn-outline-dark btn-icon-text mr-2"> <i class="fa fa-apple btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Available on the</small> App Store </span> </button> <button class="btn btn-outline-dark btn-icon-text ml-2"> <i class="fa fa-android btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Get it on the</small> Google Play </span> </button> </div>
        </div>
      </div>
      <h5 class="text-center p-2 ">Изтегли на телефона си и започни да пътуваш!</h5>
    </div>
  </div>
</div>
